<%inherit file="../base.html" />
<%! from django.shortcuts import reverse %>

<%def name="title()">附属信息</%def>
<%def name="css()">
<link href="/static/dashboard/css/video_sub.css" rel="stylesheet" type="text/css">
</%def>
<%def name="content()">
<%
from app.model.video import IdentityType
%>
<h1>${video.name}</h1><span>${error}</span>
<div class="form-group div1">
<h2>集数</h2>
% for video_sub in video.video_sub.all():
<button class="btn btn-info"><a href="${video_sub.url}" target="_blank">第${video_sub.number}集</a></button>
% endfor
<h2>演员</h2>
    <ul>
        % for video_star in video.video_star.all():
        <li><a href="${reverse('star_delete', kwargs={'star_id':video_star.id, 'video_id':video.id})}">${video_star.name}:${IdentityType(video_star.identity).label}</a></li>
        % endfor
    </ul>
</div>
<form  class="add_url" action="" method="post">
<!--    action不填就是传向当前路径-->
    ${csrf_token}
  <div class="form-group">
      <label>添加地址：</label>
    <input type="url" class="form-control input" name="url"  placeholder="">
      <input type="submit" class="btn btn-info" value="添加">
  </div>
</form>

<form  class="add_url" action="${reverse('video_star')}" method="post">
    <div class="form-group">
    ${csrf_token}
      <label>添加演员：</label>
        <input type="text" class="form-control input" name="name"  placeholder=""><br>
      <label>身份：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <select class="form-control input" name="identity">
    % for identity in IdentityType:
      <option value="${identity.value}">${identity.label}</option>
    % endfor
  </select>
        <input type="hidden" value="${video.id}" name="video_id">
      <input type="submit" class="btn btn-info" value="添加">
  </div>
</form>
</%def>
<%def name="js()">
<script src="/static/dashboard/js/video/video_sub.js"></script>
<script>
    var string = "${error}"
    if(string.length!=0){
        alert(string)
    }
</script>
</%def>
